.orderConfirmationPage {
    position: relative;
    width: 390px;
    margin: 0 auto;
    background: #605858;
    min-height: 844px;
    padding: 20px;
    text-align: center;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* Logo i övre vänstra hörnet */
  .orderLogo {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 64px;
    height: 64px;
    margin-top: 30px;
    margin-left: 8px;
  }
  
  /* Container för lunchboxbilden */
  .orderImageContainer {
    margin: 40px auto;
  }
  
  .orderLunchbox {
    max-width: 100%;
    height: auto;
  }
  
  .orderConfirmationPage h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
  }
  
  .orderConfirmationPage p {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
  }
  
  .orderConfirmationPage span {
    font-weight: bold;
  }
  
  .proceedBtn {
    background-color: #353131;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;
    width: 383px;
    height: 77px;
    margin-left: 3px;

  }
  
  .proceedBtn:hover {
    background-color: #444;
  }
  .receiptBtn {
    background-color: #605858;
    color: #F4F3F1;
    border: 1px solid #F4F3F1;
    padding: 15px 20px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;
    width: 383px;
    height: 77px;
    margin-left: 3px;

  }